@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

body {
  background-image: url("../images/fotofondo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.navbarfondo {
  background-color: #1d1d1d; }

.navbarlogo {
  width: 100px;
  height: 100px; }

.navbar__ig {
  position: fixed;
  width: 100%;
  z-index: 1; }

.navbar .nav-link {
  background-image: linear-gradient(#000, #fff5ff);
  background-position: 50% 85%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  color: #fff5ff;
  font-family: 'Kanit', sans-serif; }
  .navbar .nav-link:hover {
    background-size: 100% 2px; }

.inicio {
  height: 100vh;
  padding: 0px 0px; }
  .inicio_main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .inicio_main_text {
      font-family: 'Kanit', sans-serif;
      color: #fff5ff;
      border: 2px solid #fff5ff;
      padding: 15px 20px;
      border-radius: 5px;
      background-color: rgba(29, 29, 29, 0.9); }
      .inicio_main_text span {
        font-size: 40px;
        font-weight: bold; }
      .inicio_main_text h1 {
        font-size: 40px; }
      .inicio_main_text h2 {
        font-size: 40px; }
      .inicio_main_text h3 {
        font-size: 40px; }
      .inicio_main_text button {
        margin-top: 50px;
        border: 1px solid #fff5ff;
        border-radius: 5px;
        background-color: #1d1d1d;
        color: #fff5ff;
        padding: 15px;
        font-size: 25px;
        letter-spacing: 3px; }
        .inicio_main_text button:hover {
          background-color: #fff5ff;
          color: #1d1d1d; }
    .inicio_main_tec h2 {
      font-size: 30px;
      color: #000;
      font-family: 'Kanit', sans-serif;
      font-weight: bold; }
    .inicio_main_tec p {
      font-size: 25px;
      font-family: 'Kanit', sans-serif;
      color: #000; }
    .inicio_main_tec .gridprueba {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      align-items: center;
      justify-items: center;
      margin-top: 30px;
      color: #000;
      gap: 30px; }
      .inicio_main_tec .gridprueba_org {
        display: flex;
        align-items: flex-start; }
        .inicio_main_tec .gridprueba_org img {
          margin-left: 10px;
          height: 40px;
          width: 40px; }

.rombo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 80px; }
  .rombo_icono {
    background: linear-gradient(to right, #000 100%, #000 50%);
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
    font-size: 60px; }
    .rombo_icono:hover {
      background: linear-gradient(to right, #000 100%, #000 50%);
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0);
      font-size: 60px; }

@media (max-width: 1199px) {
  .inicio_main {
    flex-direction: column;
    justify-content: space-evenly; }
  .inicio_tec {
    width: 380px; } }

@media (max-width: 575px) {
  .inicio_main {
    flex-direction: column;
    justify-content: space-evenly; }
    .inicio_main_text {
      width: 380px; }
      .inicio_main_text h1 {
        font-size: 28px;
        margin: 0px; }
      .inicio_main_text span {
        font-size: 28px; }
      .inicio_main_text h3 {
        font-size: 28px; }
    .inicio_main_tec .gridprueba {
      grid-template-columns: repeat(2, 1fr); } }

.cvnuevo {
  height: 1920px;
  padding-top: 50px;
  background-image: url("../images/fotofondo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }
  .cvnuevo_content {
    height: 1800px;
    background-color: #fff5ff;
    padding: 0px 0px; }
    .cvnuevo_content_fondo {
      background: linear-gradient(to right, #ddd 100%, #fff5ff 0%);
      padding-top: 60px;
      width: 490.23px; }
    .cvnuevo_content_inicio {
      height: 310px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0px 70px;
      border: 2px solid #000;
      background-color: #fff5ff;
      width: 1180px; }
      .cvnuevo_content_inicio img {
        width: 260px;
        height: 260px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center; }
      .cvnuevo_content_inicio h2 {
        font-size: 50px;
        font-weight: bold;
        font-family: 'Kanit', sans-serif;
        letter-spacing: 8px;
        text-transform: uppercase;
        margin-bottom: 0px; }
      .cvnuevo_content_inicio span {
        font-size: 50px;
        font-weight: bold;
        border-bottom: 1px solid #000;
        font-family: 'Kanit', sans-serif;
        text-transform: uppercase;
        letter-spacing: 8px;
        padding-bottom: 5px; }
      .cvnuevo_content_inicio p {
        font-size: 25px;
        padding-top: 15px;
        font-family: 'Kanit', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 5px; }
  .cvnuevo .cvnuevo_container {
    display: flex;
    justify-content: space-between; }
    .cvnuevo .cvnuevo_container_cflex {
      display: flex;
      align-items: center;
      padding-top: 20px;
      margin: 0px 70px;
      padding-bottom: 15px; }
      .cvnuevo .cvnuevo_container_cflex_text {
        margin-left: 20px; }
        .cvnuevo .cvnuevo_container_cflex_text h4 {
          font-family: 'Kanit', sans-serif;
          font-weight: bold;
          margin-bottom: 5px; }
        .cvnuevo .cvnuevo_container_cflex_text p {
          font-family: 'Kanit', sans-serif;
          margin-bottom: 0px; }
      .cvnuevo .cvnuevo_container_cflexbc {
        background: linear-gradient(to right, #ddd 100%, #fff5ff 0%); }
      .cvnuevo .cvnuevo_container_cflex i {
        font-size: 35px;
        border-radius: 50%;
        background-color: #fff5ff;
        color: #000;
        padding: 5px 15px; }
      .cvnuevo .cvnuevo_container_cflex .inegro {
        background-color: #1d1d1d;
        color: #fff5ff; }
      .cvnuevo .cvnuevo_container_cflex a {
        color: #000;
        margin-bottom: 0px; }
    .cvnuevo .cvnuevo_container_izqflex {
      padding-right: 70px; }
      .cvnuevo .cvnuevo_container_izqflex h3 {
        margin: 0 40px 0px 70px;
        padding-top: 70px;
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
        font-family: 'Kanit', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px; }
    .cvnuevo .cvnuevo_container_cursos p {
      margin: 0px 70px 10px 70px;
      font-family: 'Kanit', sans-serif;
      font-size: 18px; }
      .cvnuevo .cvnuevo_container_cursos p:first-child {
        padding-top: 15px; }
      .cvnuevo .cvnuevo_container_cursos p:last-child {
        padding-bottom: 20px; }

@media (max-width: 1399px) {
  .cvnuevo {
    height: 2350px; }
    .cvnuevo_content {
      width: 950px;
      height: 2250px; }
      .cvnuevo_content_inicio {
        width: 810px;
        height: 310px;
        justify-content: space-evenly;
        align-items: center; }
        .cvnuevo_content_inicio h2 {
          font-size: 30px; }
        .cvnuevo_content_inicio span {
          font-size: 30px; }
        .cvnuevo_content_inicio p {
          font-size: 20px; }
        .cvnuevo_content_inicio img {
          width: 200px;
          height: 200px; } }

@media (max-width: 991px) {
  .cvnuevo {
    height: 3150px; }
    .cvnuevo .cvnuevo_container_cursos p {
      margin: 0px 40px 10px 40px; }
    .cvnuevo .cvnuevo_container_cflex {
      margin: 0px 40px; }
    .cvnuevo .cvnuevo_container_izqflex {
      padding-right: 0px; }
      .cvnuevo .cvnuevo_container_izqflex h3 {
        margin: 0px 40px; }
    .cvnuevo_content {
      width: 950px;
      height: 3050px; }
      .cvnuevo_content_fondo {
        background: linear-gradient(to right, #ddd 100%, #fff5ff 0%);
        padding-top: 60px;
        width: 100%; }
      .cvnuevo_content_inicio {
        width: 640px;
        height: 200px;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px 40px; }
        .cvnuevo_content_inicio h2 {
          font-size: 21px; }
        .cvnuevo_content_inicio span {
          font-size: 21px; }
        .cvnuevo_content_inicio p {
          font-size: 12px; }
        .cvnuevo_content_inicio img {
          width: 150px;
          height: 150px; } }

@media (max-width: 767px) {
  .cvnuevo {
    height: 3510px;
    text-align: center; }
    .cvnuevo .cvnuevo_container_izqflex {
      padding-right: 0px; }
    .cvnuevo .cvnuevo_container_cflex {
      flex-direction: column; }
      .cvnuevo .cvnuevo_container_cflex i {
        margin-bottom: 10px; }
      .cvnuevo .cvnuevo_container_cflex_text {
        margin-left: 0; }
    .cvnuevo_content {
      width: 720px;
      height: 3400px; }
      .cvnuevo_content_fondo {
        background: linear-gradient(to right, #ddd 100%, #fff5ff 0%);
        padding-top: 60px;
        width: 540px; }
      .cvnuevo_content_inicio {
        width: 460px;
        height: 150px;
        justify-content: space-evenly;
        align-items: center; }
        .cvnuevo_content_inicio h2 {
          font-size: 18px; }
        .cvnuevo_content_inicio span {
          font-size: 15px; }
        .cvnuevo_content_inicio p {
          font-size: 10px; }
        .cvnuevo_content_inicio img {
          width: 110px;
          height: 110px; } }

@media (max-width: 575px) {
  .cvnuevo {
    height: 3830px;
    text-align: center; }
    .cvnuevo .cvnuevo_container_cflex_text {
      margin-left: 0px; }
    .cvnuevo_content {
      width: 400px;
      height: 3750px; }
      .cvnuevo_content_fondo {
        background: linear-gradient(to right, #ddd 100%, #fff5ff 0%);
        padding-top: 60px;
        width: 100%; }
      .cvnuevo_content_inicio {
        width: 320px;
        height: 230px;
        justify-content: space-around;
        align-items: center;
        flex-direction: column; }
        .cvnuevo_content_inicio h2 {
          font-size: 18px; }
        .cvnuevo_content_inicio span {
          font-size: 18px; }
        .cvnuevo_content_inicio p {
          font-size: 12px; }
        .cvnuevo_content_inicio img {
          width: 120px;
          height: 120px; } }

.partederecha p {
  margin: 0px 70px 0px 0px;
  padding-top: 10px;
  font-size: 18px;
  font-family: 'Kanit', sans-serif; }
  .partederecha p:first-child {
    padding-top: 15px; }

.partederecha h3 {
  margin: 0px 40px 0px 0px;
  padding-top: 70px;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px; }

.partederecha h4 {
  padding-top: 15px;
  margin-bottom: 0px;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  margin: 0px 70px 0px 0px; }

.partederecha h5 {
  padding-top: 15px;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  margin: 0px 70px 0px 0px; }

.partederecha_flex {
  display: flex;
  align-items: flex-start;
  padding-top: 15px; }
  .partederecha_flex i {
    font-size: 40px; }
  .partederecha_flex p {
    font-size: 25px;
    font-family: 'Kanit', sans-serif; }

@media (max-width: 991px) {
  .cvnuevo_container {
    flex-direction: column; }
  .partederecha h3 {
    margin: 0px 40px; }
  .partederecha p {
    margin: 0px 40px; }
  .partederecha h4 {
    margin: 0px 40px; }
  .partederecha h5 {
    margin: 0px 40px; }
  .partederecha_flex i {
    font-size: 40px;
    margin: 0px 0px 0px 40px; }
  .partederecha_flex p {
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    margin: 0px 0px; } }

.contacto {
  height: 700px;
  width: 100%;
  padding: 0px;
  background-color: #1d1d1d; }
  .contacto_desc {
    color: #fff5ff;
    padding: 20px; }
    .contacto_desc h2 {
      font-size: 40px;
      padding-bottom: 20px;
      font-family: 'Kanit', sans-serif;
      font-weight: bold;
      letter-spacing: 3px; }
    .contacto_desc p {
      font-size: 20px;
      font-family: 'Kanit', sans-serif;
      max-width: 500px; }
  .contacto_content {
    height: 200px; }
    .contacto_content img {
      width: 50%;
      height: 100%;
      padding: 15px 0px 15px 20px; }
  .contacto_form {
    width: 100%; }
    .contacto_form textarea {
      width: 100%;
      height: 260px;
      padding: 10px 15px;
      font-family: 'Kanit', sans-serif;
      background-color: #2b2b2b;
      border: 0;
      color: #fff5ff; }
      .contacto_form textarea::placeholder {
        color: #ddd; }
      .contacto_form textarea:focus {
        outline: none;
        border-bottom: 2px solid #fff5ff; }
        .contacto_form textarea:focus::placeholder {
          font-size: 0px; }
    .contacto_form form {
      padding: 0px 10px; }
      .contacto_form form input {
        width: 100%;
        height: 50px;
        padding-left: 15px;
        font-family: 'Kanit', sans-serif;
        background-color: #2b2b2b;
        border: 0;
        color: #fff5ff; }
        .contacto_form form input::placeholder {
          color: #ddd; }
        .contacto_form form input:focus {
          outline: none;
          border-bottom: 2px solid #fff5ff; }
          .contacto_form form input:focus::placeholder {
            font-size: 0px; }
      .contacto_form form div {
        padding: 10px; }
    .contacto_form_buttonflex {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .contacto_form_buttonflex button {
        width: 50%;
        height: 50px;
        border: 1px solid #fff5ff;
        margin: 20px 0px 0px 0px;
        color: #fff5ff;
        background-color: #2b2b2b;
        font-family: 'Kanit', sans-serif;
        text-align: center;
        letter-spacing: 3px; }
        .contacto_form_buttonflex button:hover {
          color: #2b2b2b;
          background-color: #fff5ff; }
    .contacto_form_inflex {
      display: flex;
      gap: 10px; }
  .contacto_tamaño {
    display: flex;
    align-items: center;
    height: 500px; }

.paddt {
  padding: 100px 0px;
  background-color: #1d1d1d; }

@media (max-width: 991px) {
  .contacto {
    height: 750px; }
    .contacto_desc {
      padding: 0px;
      padding-bottom: 20px; }
      .contacto_desc p {
        padding-bottom: 20px;
        color: #fff5ff; }
    .contacto_content img {
      height: 560px;
      object-fit: cover;
      object-position: left;
      padding: 10px 0px;
      width: 40%; }
    .contacto_form_inflex {
      flex-direction: column;
      gap: 20px; }
    .contacto_form_buttonflex {
      padding: 20px; }
      .contacto_form_buttonflex button {
        width: 100%; } }

@media (max-width: 575px) {
  .contacto {
    height: 750px;
    background-image: url("../images/codephoto.jpg");
    background-size: cover;
    padding-top: 10px; }
    .contacto_desc {
      padding: 0px;
      padding-bottom: 20px; }
      .contacto_desc h2 {
        padding-left: 20px; }
      .contacto_desc p {
        padding-bottom: 20px;
        padding-left: 20px;
        font-weight: bold; }
    .contacto_content img {
      display: none; }
    .contacto_form_inflex {
      flex-direction: column;
      gap: 20px; }
    .contacto_form_buttonflex {
      padding: 20px;
      margin-bottom: 20px; } }

.footer {
  height: 210px;
  background-color: #fff5ff; }
  .footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 210px; }
  .footer_contact {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
    .footer_contact i {
      font-size: 20px;
      color: #000; }
    .footer_contact p {
      margin: 0px 0px 0px 10px;
      font-size: 18px;
      font-family: 'Kanit', sans-serif;
      font-weight: bold;
      color: #000; }
  .footer_icons i {
    font-size: 27px;
    margin: 0 10px;
    color: #000;
    border: 2px solid #000;
    background-color: #fff5ff;
    border-radius: 10px;
    padding: 5px 10px; }
    .footer_icons i:hover {
      cursor: pointer;
      color: #fff5ff;
      background-color: #000; }
  .footer_copyright {
    background-color: #1d1d1d;
    height: 65px;
    padding-top: 20px; }
    .footer_copyright p {
      text-align: center;
      font-size: 15px;
      color: #fff5ff;
      font-family: 'Kanit', sans-serif; }

@media (max-width: 767px) {
  .footer_icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px; }
    .footer_icons i {
      margin: 0px; } }

@media (max-width: 460px) {
  .footer_icons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px; }
    .footer_icons i {
      margin: 0px;
      font-size: 18px; } }
