.navbar {

    &fondo { 
        background-color: #1d1d1d;
    }

    &logo {
         width: 100px;
         height: 100px;
    }

    &__ig {
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .nav-link {
        background-image: linear-gradient($negro, $blanco);
        background-position: 50% 85%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
        color: $blanco;
        font-family: 'Kanit', sans-serif;

        &:hover {
            background-size: 100% 2px;
        }
    }
}