.inicio {
    height: 100vh;
    padding: 0px 0px;
}






















// .inicio_pres_tec {

//     & h2 {
//         font-size: 25px;
//         color: $blanco;
//         font-family: 'Kanit', sans-serif;
//         font-weight: bold;
//     }

//     & p {
//         font-size: 20px;
//         font-family: 'Kanit', sans-serif;
//         color: $blanco;
//     }
// }

// .gridprueba {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: repeat(2, 1fr);
//     align-items: center;
//     justify-items: center;
//     margin-top: 30px;
//     color: $blanco;
//     gap: 30px;
// }

// .gridprueba_org {
//     display: flex;
//     align-items: flex-start;

//     & img {
//         margin-left: 10px;
//         height: 40px;
//         width: 40px;
//     }
// }

.rombo {
        display: flex;
        justify-items: center;
        justify-content: center;
         
        &_icono {
            background: linear-gradient(to right, red 50%, yellow 50%);
            -webkit-background-clip: text;
            color: rgba(0, 0, 0, 0);
            font-size: 50px;
            
            &:hover {
                background: linear-gradient(to right, red 50%, yellow 50%);
                -webkit-background-clip: text;
                color: rgba(0, 0, 0, 0);
                font-size: 50px;
            }
        }
}