.partederecha {
    
    & p {
        margin: 0px 70px 0px 0px;
        padding-top: 10px;
        font-size: 18px;
        font-family: 'Kanit', sans-serif;

        
        &:first-child {
            padding-top: 15px;
        }
    }

    & h3 {
        margin: 0px 40px 0px 0px;
        padding-top: 70px;
        border-bottom: 1px solid $negro;
        padding-bottom: 10px;
        font-family: 'Kanit', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    & h4 {
        padding-top: 15px;
        margin-bottom: 0px;
        font-family: 'Kanit', sans-serif;
        font-weight: bold;
        margin: 0px 70px 0px 0px;
    }

    & h5 {
        padding-top: 15px;
        font-family: 'Kanit', sans-serif;
        font-weight: bold;
        margin: 0px 70px 0px 0px;
    }

    &_flex {
        display: flex;
        align-items: flex-start;
        padding-top: 15px;

        & i {
            font-size: 40px;
        }

        & p {
            font-size: 25px;
            font-family: 'Kanit', sans-serif;
        }
    }
}

@media (max-width: 991px) {

    .cvnuevo_container {
        flex-direction: column;
    }

        .partederecha {

            & h3 {
                margin: 0px 40px;
            }
    
            & p {
                margin: 0px 40px;
            }

            & h4 {
                margin: 0px 40px;
            }

            & h5 {
                margin: 0px 40px;
            }

            &_flex {
            
                & i {
                    font-size: 40px;
                    margin: 0px 0px 0px 40px;
                }
    
                & p {
                    font-size: 25px;
                    font-family: 'Kanit', sans-serif;
                    margin: 0px 0px;
                }
            }
        }
    }